In [2]:
import pandas as pd 
import requests 
from bs4 import BeautifulSoup 
import numpy as np

In [8]:
url = "https://www.imdb.com/search/title/?count=100&groups=top_1000&sort=user_rating"
response = requests.get(url)
soup = BeautifulSoup(response.content,'html.parser')

In [10]:
movie_name = []
year = []
time = []
rating = []
metascore = []
votes = []
gross = []

In [26]:
movie_data = soup.findAll('div',attrs={'class':'lister-item mode-advanced'})

In [152]:
for i in movie_data:
     
    name = i.h3.a.text
    movie_name.append(name)
    
    year_of_release = i.h3.find('span', class_='lister-item-year text-muted unbold').text.replace('(','').replace(')','')
    year.append(year_of_release)
    
    duration = i.p.find('span',class_='runtime').text.replace(' min','')
    time.append(duration) 
    
    rate = i.find('div',class_='inline-block ratings-imdb-rating').text.replace('\n','')
    rating.append(rate)
     
    score = i.find('span', class_ = 'metascore').text.replace('        ','') if i.find('span', class_ = 'metascore') else '0'   
    metascore.append(score)
        
    value = i.find_all('span',attrs={'name':'nv'})
        
    vote = value[0].text
    votes.append(vote)
        
    grosses = value[1].text if len(value)>1 else '$0'   
    gross.append(grosses)

In [153]:
movie_df = pd.DataFrame({'Name of the movie':movie_name,
                         'Year of Release':year,
                         'Duration':time,
                         'Metascore':metascore,
                         'Votes':votes,
                         'Gross':gross})

In [154]:
movie_df

,Name of the movie,Year of Release,Duration,Metascore,Votes,Gross
0,The Shawshank Redemption,1994,142,80,"2,450,660",$28.34M
1,The Godfather,1972,175,100,"1,696,257",$134.97M
2,Soorarai Pottru,2020,153,0,"88,794",$0
3,The Dark Knight,2008,152,84,"2,406,378",$534.86M
4,The Godfather: Part II,1974,202,90,"1,178,187",$57.30M
...,...,...,...,...,...,...
95,Jodaeiye Nader az Simin,2011,123,95,"230,795",$7.10M
96,Incendies,2010,131,80,"160,471",$6.86M
97,Kimetsu no Yaiba: Mugen Ressha-Hen,2020,117,75,"33,072",$0
98,The Father,I 2020,97,88,"88,542",$0
99,Babam ve Oglum,2005,112,0,"82,674",$0

In [155]:
movie_df.to_csv("IMDb_movies_reviews.csv")

In [11]:
movie_df = pd.read_csv("D:\Cyborg\web_scrapping\imdb\IMDb_movies_reviews.csv", index_col=0)

In [12]:
movie_df

,Name of the movie,Year of Release,Duration,Metascore,Votes,Gross
0,The Shawshank Redemption,1994,142,80,"24,50,660",$28.34M
1,The Godfather,1972,175,100,"16,96,257",$134.97M
2,Soorarai Pottru,2020,153,0,"88,794",$0
3,The Dark Knight,2008,152,84,"24,06,378",$534.86M
4,The Godfather: Part II,1974,202,90,"11,78,187",$57.30M
...,...,...,...,...,...,...
95,Jodaeiye Nader az Simin,2011,123,95,"2,30,795",$7.10M
96,Incendies,2010,131,80,"1,60,471",$6.86M
97,Kimetsu no Yaiba: Mugen Ressha-Hen,2020,117,75,"33,072",$0
98,The Father,I 2020,97,88,"88,542",$0
99,Babam ve Oglum,2005,112,0,"82,674",$0